@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small, .small {
  font-size: 0.875em;
}

mark, .mark {
  padding: 0.1875em;
  color: var(--bs-highlight-color);
  background-color: var(--bs-highlight-bg);
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: var(--bs-code-color);
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color);
  border-radius: 0.25rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--bs-secondary-color);
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

:root,
[data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #50af9b;
  --bs-secondary: #8898aa;
  --bs-success: #2dce89;
  --bs-info: #11cdef;
  --bs-warning: #fb6340;
  --bs-danger: #f5365c;
  --bs-light: #ced4da;
  --bs-dark: #000;
  --bs-primary-rgb: 80, 175, 155;
  --bs-secondary-rgb: 136, 152, 170;
  --bs-success-rgb: 45, 206, 137;
  --bs-info-rgb: 17, 205, 239;
  --bs-warning-rgb: 251, 99, 64;
  --bs-danger-rgb: 245, 54, 92;
  --bs-light-rgb: 206, 212, 218;
  --bs-dark-rgb: 0, 0, 0;
  --bs-primary-text-emphasis: #20463e;
  --bs-secondary-text-emphasis: rgb(54.4, 60.8, 68);
  --bs-success-text-emphasis: rgb(18, 82.4, 54.8);
  --bs-info-text-emphasis: rgb(6.8, 82, 95.6);
  --bs-warning-text-emphasis: rgb(100.4, 39.6, 25.6);
  --bs-danger-text-emphasis: rgb(98, 21.6, 36.8);
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #dcefeb;
  --bs-secondary-bg-subtle: rgb(231.2, 234.4, 238);
  --bs-success-bg-subtle: rgb(213, 245.2, 231.4);
  --bs-info-bg-subtle: rgb(207.4, 245, 251.8);
  --bs-warning-bg-subtle: rgb(254.2, 223.8, 216.8);
  --bs-danger-bg-subtle: rgb(253, 214.8, 222.4);
  --bs-light-bg-subtle: rgb(251.5, 252, 252.5);
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #b9dfd7;
  --bs-secondary-border-subtle: rgb(207.4, 213.8, 221);
  --bs-success-border-subtle: rgb(171, 235.4, 207.8);
  --bs-info-border-subtle: rgb(159.8, 235, 248.6);
  --bs-warning-border-subtle: rgb(253.4, 192.6, 178.6);
  --bs-danger-border-subtle: rgb(251, 174.6, 189.8);
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #50af9b;
  --bs-link-color-rgb: 80, 175, 155;
  --bs-link-decoration: none;
  --bs-link-hover-color: #408c7c;
  --bs-link-hover-color-rgb: 64, 140, 124;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: rgb(255, 242.6, 205.4);
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(80, 175, 155, 0.25);
  --bs-form-valid-color: #2dce89;
  --bs-form-valid-border-color: #2dce89;
  --bs-form-invalid-color: #f5365c;
  --bs-form-invalid-border-color: #f5365c;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: rgb(42.5, 47.5, 52.5);
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #96cfc3;
  --bs-secondary-text-emphasis: rgb(183.6, 193.2, 204);
  --bs-success-text-emphasis: rgb(129, 225.6, 184.2);
  --bs-info-text-emphasis: rgb(112.2, 225, 245.4);
  --bs-warning-text-emphasis: rgb(252.6, 161.4, 140.4);
  --bs-danger-text-emphasis: rgb(249, 134.4, 157.2);
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #10231f;
  --bs-secondary-bg-subtle: rgb(27.2, 30.4, 34);
  --bs-success-bg-subtle: rgb(9, 41.2, 27.4);
  --bs-info-bg-subtle: rgb(3.4, 41, 47.8);
  --bs-warning-bg-subtle: rgb(50.2, 19.8, 12.8);
  --bs-danger-bg-subtle: rgb(49, 10.8, 18.4);
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #30695d;
  --bs-secondary-border-subtle: rgb(81.6, 91.2, 102);
  --bs-success-border-subtle: rgb(27, 123.6, 82.2);
  --bs-info-border-subtle: rgb(10.2, 123, 143.4);
  --bs-warning-border-subtle: rgb(150.6, 59.4, 38.4);
  --bs-danger-border-subtle: rgb(147, 32.4, 55.2);
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #96cfc3;
  --bs-link-hover-color: rgb(171, 216.6, 207);
  --bs-link-color-rgb: 150, 207, 195;
  --bs-link-hover-color-rgb: 171, 217, 207;
  --bs-code-color: rgb(230.4, 132.6, 181.2);
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: rgb(102, 77.2, 2.8);
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: rgb(117, 183, 152.4);
  --bs-form-valid-border-color: rgb(117, 183, 152.4);
  --bs-form-invalid-color: rgb(234, 133.8, 143.4);
  --bs-form-invalid-border-color: rgb(234, 133.8, 143.4);
}

.table, .wp-block-table table {
  --bs-table-color-type: initial;
  --bs-table-bg-type: initial;
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  --bs-table-color: var(--bs-emphasis-color);
  --bs-table-bg: var(--bs-body-bg);
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-emphasis-color);
  --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
  --bs-table-active-color: var(--bs-emphasis-color);
  --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
  --bs-table-hover-color: var(--bs-emphasis-color);
  --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}
.table > :not(caption) > * > *, .wp-block-table table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
  background-color: var(--bs-table-bg);
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}
.table > tbody, .wp-block-table table > tbody {
  vertical-align: inherit;
}
.table > thead, .wp-block-table table > thead {
  vertical-align: bottom;
}

.table-group-divider {
  border-top: calc(var(--bs-border-width) * 2) solid currentcolor;
}

.caption-top {
  caption-side: top;
}

.table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
}

.table-bordered > :not(caption) > *, .wp-block-table table > :not(caption) > * {
  border-width: var(--bs-border-width) 0;
}
.table-bordered > :not(caption) > * > *, .wp-block-table table > :not(caption) > * > * {
  border-width: 0 var(--bs-border-width);
}

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}
.table-borderless > :not(:first-child) {
  border-top-width: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: var(--bs-table-striped-bg);
}

.table-striped-columns > :not(caption) > tr > :nth-child(even) {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: var(--bs-table-striped-bg);
}

.table-active {
  --bs-table-color-state: var(--bs-table-active-color);
  --bs-table-bg-state: var(--bs-table-active-bg);
}

.table-hover > tbody > tr:hover > * {
  --bs-table-color-state: var(--bs-table-hover-color);
  --bs-table-bg-state: var(--bs-table-hover-bg);
}

.table-primary {
  --bs-table-color: #000;
  --bs-table-bg: #dcefeb;
  --bs-table-border-color: rgb(176, 191.2, 188);
  --bs-table-striped-bg: rgb(209, 227.05, 223.25);
  --bs-table-striped-color: #000;
  --bs-table-active-bg: rgb(198, 215.1, 211.5);
  --bs-table-active-color: #000;
  --bs-table-hover-bg: rgb(203.5, 221.075, 217.375);
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-secondary {
  --bs-table-color: #000;
  --bs-table-bg: rgb(231.2, 234.4, 238);
  --bs-table-border-color: rgb(184.96, 187.52, 190.4);
  --bs-table-striped-bg: rgb(219.64, 222.68, 226.1);
  --bs-table-striped-color: #000;
  --bs-table-active-bg: rgb(208.08, 210.96, 214.2);
  --bs-table-active-color: #000;
  --bs-table-hover-bg: rgb(213.86, 216.82, 220.15);
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-success {
  --bs-table-color: #000;
  --bs-table-bg: rgb(213, 245.2, 231.4);
  --bs-table-border-color: rgb(170.4, 196.16, 185.12);
  --bs-table-striped-bg: rgb(202.35, 232.94, 219.83);
  --bs-table-striped-color: #000;
  --bs-table-active-bg: rgb(191.7, 220.68, 208.26);
  --bs-table-active-color: #000;
  --bs-table-hover-bg: rgb(197.025, 226.81, 214.045);
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-info {
  --bs-table-color: #000;
  --bs-table-bg: rgb(207.4, 245, 251.8);
  --bs-table-border-color: rgb(165.92, 196, 201.44);
  --bs-table-striped-bg: rgb(197.03, 232.75, 239.21);
  --bs-table-striped-color: #000;
  --bs-table-active-bg: rgb(186.66, 220.5, 226.62);
  --bs-table-active-color: #000;
  --bs-table-hover-bg: rgb(191.845, 226.625, 232.915);
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-warning {
  --bs-table-color: #000;
  --bs-table-bg: rgb(254.2, 223.8, 216.8);
  --bs-table-border-color: rgb(203.36, 179.04, 173.44);
  --bs-table-striped-bg: rgb(241.49, 212.61, 205.96);
  --bs-table-striped-color: #000;
  --bs-table-active-bg: rgb(228.78, 201.42, 195.12);
  --bs-table-active-color: #000;
  --bs-table-hover-bg: rgb(235.135, 207.015, 200.54);
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-danger {
  --bs-table-color: #000;
  --bs-table-bg: rgb(253, 214.8, 222.4);
  --bs-table-border-color: rgb(202.4, 171.84, 177.92);
  --bs-table-striped-bg: rgb(240.35, 204.06, 211.28);
  --bs-table-striped-color: #000;
  --bs-table-active-bg: rgb(227.7, 193.32, 200.16);
  --bs-table-active-color: #000;
  --bs-table-hover-bg: rgb(234.025, 198.69, 205.72);
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-light {
  --bs-table-color: #000;
  --bs-table-bg: #ced4da;
  --bs-table-border-color: rgb(164.8, 169.6, 174.4);
  --bs-table-striped-bg: rgb(195.7, 201.4, 207.1);
  --bs-table-striped-color: #000;
  --bs-table-active-bg: rgb(185.4, 190.8, 196.2);
  --bs-table-active-color: #000;
  --bs-table-hover-bg: rgb(190.55, 196.1, 201.65);
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-dark {
  --bs-table-color: #fff;
  --bs-table-bg: #000;
  --bs-table-border-color: #333333;
  --bs-table-striped-bg: rgb(12.75, 12.75, 12.75);
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: rgb(25.5, 25.5, 25.5);
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: rgb(19.125, 19.125, 19.125);
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  max-width: 100%;
  height: auto;
}

.figure, .wp-block-image > figure, figure.wp-block-image {
  display: inline-block;
}

.figure-img, .wp-block-image > figure img, figure.wp-block-image img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption, .wp-block-image > figure figcaption, figure.wp-block-image figcaption {
  font-size: 0.875em;
  color: var(--bs-secondary-color);
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-1 {
    font-size: 5rem;
  }
}

.display-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-2 {
    font-size: 4.5rem;
  }
}

.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-3 {
    font-size: 4rem;
  }
}

.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
  }
}

.display-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-6 {
    font-size: 2.5rem;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.initialism {
  font-size: 0.875em;
  text-transform: uppercase;
}

.blockquote, .wp-block-quote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.blockquote > :last-child, .wp-block-quote > :last-child {
  margin-bottom: 0;
}

.blockquote-footer, .wp-block-quote cite {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #6c757d;
}
.blockquote-footer::before, .wp-block-quote cite::before {
  content: "— ";
}

.has-blue-color,
.has-blue-color:visited {
  color: #0d6efd;
}

.has-blue-background-color {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.has-indigo-color,
.has-indigo-color:visited {
  color: #6610f2;
}

.has-indigo-background-color {
  background-color: #6610f2;
  border-color: #6610f2;
}

.has-purple-color,
.has-purple-color:visited {
  color: #6f42c1;
}

.has-purple-background-color {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.has-pink-color,
.has-pink-color:visited {
  color: #d63384;
}

.has-pink-background-color {
  background-color: #d63384;
  border-color: #d63384;
}

.has-red-color,
.has-red-color:visited {
  color: #dc3545;
}

.has-red-background-color {
  background-color: #dc3545;
  border-color: #dc3545;
}

.has-orange-color,
.has-orange-color:visited {
  color: #fd7e14;
}

.has-orange-background-color {
  background-color: #fd7e14;
  border-color: #fd7e14;
}

.has-yellow-color,
.has-yellow-color:visited {
  color: #ffc107;
}

.has-yellow-background-color {
  background-color: #ffc107;
  border-color: #ffc107;
}

.has-green-color,
.has-green-color:visited {
  color: #198754;
}

.has-green-background-color {
  background-color: #198754;
  border-color: #198754;
}

.has-teal-color,
.has-teal-color:visited {
  color: #20c997;
}

.has-teal-background-color {
  background-color: #20c997;
  border-color: #20c997;
}

.has-cyan-color,
.has-cyan-color:visited {
  color: #0dcaf0;
}

.has-cyan-background-color {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.has-black-color,
.has-black-color:visited {
  color: #000;
}

.has-black-background-color {
  background-color: #000;
  border-color: #000;
}

.has-white-color,
.has-white-color:visited {
  color: #fff;
}

.has-white-background-color {
  background-color: #fff;
  border-color: #fff;
}

.has-gray-color,
.has-gray-color:visited {
  color: #6c757d;
}

.has-gray-background-color {
  background-color: #6c757d;
  border-color: #6c757d;
}

.has-gray-dark-color,
.has-gray-dark-color:visited {
  color: #343a40;
}

.has-gray-dark-background-color {
  background-color: #343a40;
  border-color: #343a40;
}

.has-primary-color,
.has-primary-color:visited {
  color: #50af9b;
}

.has-primary-background-color {
  background-color: #50af9b;
  border-color: #50af9b;
}

.has-secondary-color,
.has-secondary-color:visited {
  color: #8898aa;
}

.has-secondary-background-color {
  background-color: #8898aa;
  border-color: #8898aa;
}

.has-success-color,
.has-success-color:visited {
  color: #2dce89;
}

.has-success-background-color {
  background-color: #2dce89;
  border-color: #2dce89;
}

.has-info-color,
.has-info-color:visited {
  color: #11cdef;
}

.has-info-background-color {
  background-color: #11cdef;
  border-color: #11cdef;
}

.has-warning-color,
.has-warning-color:visited {
  color: #fb6340;
}

.has-warning-background-color {
  background-color: #fb6340;
  border-color: #fb6340;
}

.has-danger-color,
.has-danger-color:visited {
  color: #f5365c;
}

.has-danger-background-color {
  background-color: #f5365c;
  border-color: #f5365c;
}

.has-light-color,
.has-light-color:visited {
  color: #ced4da;
}

.has-light-background-color {
  background-color: #ced4da;
  border-color: #ced4da;
}

.has-dark-color,
.has-dark-color:visited {
  color: #000;
}

.has-dark-background-color {
  background-color: #000;
  border-color: #000;
}

figure.wp-block-image {
  display: block;
}
.wp-block-image > figure {
  display: block;
}
body.wssbase-no-sidebar .alignwide,
body.wssbase-no-sidebar .alignfull,
body.wssbase-no-sidebar .wp-block-cover.alignwide,
body.wssbase-no-sidebar .wp-block-cover.alignfull {
  margin: 0px calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
}
body.wssbase-no-sidebar .alignwide .wp-block-cover__inner-container,
body.wssbase-no-sidebar .alignfull .wp-block-cover__inner-container,
body.wssbase-no-sidebar .wp-block-cover.alignwide .wp-block-cover__inner-container,
body.wssbase-no-sidebar .wp-block-cover.alignfull .wp-block-cover__inner-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  body.wssbase-no-sidebar .alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .alignfull .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignfull .wp-block-cover__inner-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  body.wssbase-no-sidebar .alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .alignfull .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignfull .wp-block-cover__inner-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  body.wssbase-no-sidebar .alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .alignfull .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignfull .wp-block-cover__inner-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  body.wssbase-no-sidebar .alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .alignfull .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignfull .wp-block-cover__inner-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  body.wssbase-no-sidebar .alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .alignfull .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignfull .wp-block-cover__inner-container {
    max-width: 1320px;
  }
}
body.wssbase-no-sidebar .alignwide,
body.wssbase-no-sidebar .wp-block-cover.alignwide {
  margin: 0px calc(50% - 45vw);
  max-width: 90vw;
  width: 100vw;
}
body.wssbase-no-sidebar .alignwide .wp-block-cover__inner-container,
body.wssbase-no-sidebar .wp-block-cover.alignwide .wp-block-cover__inner-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  body.wssbase-no-sidebar .alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignwide .wp-block-cover__inner-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  body.wssbase-no-sidebar .alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignwide .wp-block-cover__inner-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  body.wssbase-no-sidebar .alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignwide .wp-block-cover__inner-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  body.wssbase-no-sidebar .alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignwide .wp-block-cover__inner-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  body.wssbase-no-sidebar .alignwide .wp-block-cover__inner-container,
  body.wssbase-no-sidebar .wp-block-cover.alignwide .wp-block-cover__inner-container {
    max-width: 1320px;
  }
}
@media (max-width: 920px) {
  body.wssbase-no-sidebar .alignwide,
  body.wssbase-no-sidebar .wp-block-cover.alignwide {
    margin: 0px calc(50% - 48vw);
    max-width: 96vw;
    width: 100vw;
  }
}

.wp-block-buttons .wp-block-button .wp-block-button__link {
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-border-radius: var(--bs-border-radius);
}
.wp-block-buttons .wp-block-button:not(.is-style-outline) .wp-block-button__link {
  border: var(--bs-border-width) solid transparent;
}

.components-circular-option-picker__option {
  border-radius: 50%;
}

.editor-post-title .editor-post-title__input {
  font-size: 2.5rem;
  font-weight: 500;
}

/*# sourceMappingURL=custom-editor-style.css.map */